<% flash.each do |f| %>
	<div class="alert alert-success" role="alert">
  	<%= f %>
	</div>
<% end %>
<h1 class="text-center"> Article Details </h1>
<div class="jumbotron">
	<h1 class="display-4"><%= @article.title %></h1>
	<p class="lead"><%= @article.description %></p>
	<hr class="my-4">
	<p>By- <%= @article.user.username %></p>
	<% if logged_in && @article.user == current_user%>
		<p class="lead">
		<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-secondary btn-lg" %>
		<%= link_to 'Delete', article_path(@article), method: :delete, class: "btn btn-secondary btn-lg" %>
		</p>
	<% end %>
</div>

